h1 {
    color:red;
    background-color:yellow;
    padding:2cm;
    margin: 1cm;
    border:0.5cm solid green;
}

.banner {
    font-family:Arial, Helvetica, sans-serif;
    background-color:red;
    padding:2cm;
    margin:1cm;
    border:0.5cm solid black;

}

.column {
    color:green;
    background-color:pink;
    margin-left:1cm;
    margin-right:1cm;
    margin-bottom:0.5cm;
    margin-top:0.5cm;
    border:0.25cm solid blue;
    width:30%;
    padding:1cm;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}